*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;  
}

html{
    scroll-behavior: smooth;
}

strong{
    color: #36DFFE;
}

.header-back{
    background-image: url(./assets/cabeçalho.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;

    font-size: 3vh;
    color: white;
}

.nav-links{
    display: flex;
    gap: 20px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-links a:hover{
    background-color: #36DFFE;
    border-radius: 30px;
}

.burguer{
    display: none;
}

.header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    height: 500px;
    padding: 0px 90px;
    gap: 80px;
    
    color: white;
    animation: slide1 1s ease-in-out;
}

.text-header{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-bottom: 80px;
    gap: 40px;
    font-size: 2.6vh;
}

.text-header h1{
    font-size: 7vh;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.img-header img{
    width: 90vh;
}

.area-text1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    align-items: center;
    padding: 60px 140px;
    gap: 30px;
}

.text-1 h1{
    font-size: 9vh;
    text-align: right;
    font-weight: 800;
}

.text-2{
    font-size: 3.5vh;
}

.cards-area1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    padding: 90px 50px;
    gap: 60px;

    background-color: #253F5C;
}

.card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    gap: 30px;
    width: 270px;

    color: white;

    border-radius: 25px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.199);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    opacity: 0;
    transition: all 2s;
}

.show{
    opacity: 1;
    
    transition: all 2s;
}

.card1 h3{
    font-weight: 800;
    font-size: 3.4vh;
}

.card1 img{
    width: 20vh;
}

.cards-area2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    padding: 60px 150px;
    gap: 20px;

    background-color: #253F5C;
}

.card2{
    display: flex;
    align-items: center;
    padding: 20px 10px;
    gap: 10px;

    font-size: 2.5vh;
    color: black;

    background-color: #FFF;
    border-radius: 1px;
    border: 2px solid black;
}

.card2 h3{
    font-size: 3vh;
    font-weight: 800;
}

.card2 img{
    width: 10vh;
}

.area-text2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 50px;
    gap: 20px;

    font-size: 4vh;
    text-align: center;

    background-color: #253F5C;
    color: white;
}

.area-text2 h2{
    font-size: 9vh;
    font-weight: 800;
}

.sobre-area{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 0px 50px;

    font-size: 2.5vh;
}

.text-sobre{
    display: flex;
    flex-direction: column;
    width: 550px;
    gap: 20px;
}

.text-sobre h1{
    font-size: 7vh;
    font-weight: 800;
}

.text-sobre h2{
    font-size: 5vh;
    font-weight: 600;
}


.img-sobre{
    padding: 30px 20px;
}

.img-sobre img{
    width: 80vh;
    align-items: center;

    background-color: #7087A9;
    border-radius: 52% 48% 53% 47% / 43% 34% 66% 57% ;
}

.area-text3{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px 0px;
    gap: 20px;

    font-size: 3vh;
    color: white;

    background-color: #253F5C;
}

.area-text3 h1{
    font-weight: 800;
    font-size: 8vh;
}

.footer-1{
    display: flex;
    justify-content: center;
    padding: 0px 400px;

    background-color: #253F5C;
    color: white;
}

.footer-2{
    display: flex;
    justify-content: center;
    padding: 20px;

    background-color: #253F5C;

    font-size: 1.5vh;
    color: white;
}

.botton a{
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #36DFFE;

    font-weight: 700;
    font-size: 2.4vh;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.botton img{
    width: 2vh;
}

.botton a:hover{
    background-color: #080705;
}

.logo img{
    height: 8vh;
}

@media screen and (width < 560px){
    .header-back{
        background-image: url(./assets/cabeçalho.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content:  space-around;
        padding: 30px 0px;
    
        font-size: 2vh;
    }
    
    .nav-links{
        display: none;
        gap: 20px;
    }

    .burguer{
        display: block;
        flex-direction: column;
    }

    .burguer img{
        display: flex;
        width: 4vh;
    }

    #listmob{
        position: absolute;
        top: 80px;
        right: 1px;
        height: 250px;
        width: 390px;


        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        

        background-color: #253F5C;
        animation: slide1 8ms ease;
    }
    
    #listmob a{
        padding: 5px 10px;
        font-size: 3vh;
        color: #FFF; 
        text-decoration: none;  
    }

    #listmob a:hover{
        background-color: #36DFFE;
        border-radius: 20px;
    }

    .header{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items: center;
        padding: 0px 0px;
        gap: 0;
        height: 660px;
    }
    
    .text-header{
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        padding-bottom: 0;
        gap: 20px;
        font-size: 2.5vh;
    }
    
    .text-header h1{
        font-size: 5.5vh;
    }
    
    .img-header img{
        width: 46vh;     
    }
    
    .area-text1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
        align-items: center;
        padding: 40px 20px;
        gap: 20px;
    }
    
    .text-1 h1{
        font-size: 8vh;
        text-align: left;
        font-weight: 800;
    }
    
    .text-2{
        font-size: 3vh;
        text-align:justify;
    }
    
    .cards-area1{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        padding: 90px 20px;
        gap: 30px;
    }
    
    .card1{
        width: 240px;
    }
    
    .card1 h3{
        font-size: 3vh;
    }
    
    
    .cards-area2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        padding: 30px 20px;
        gap: 20px;
    
        background-color: #253F5C;
    }
    
    .card2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
        gap: 20px;
    
        font-size: 2.5vh;
        text-align: center;
    }
    
    .card2 h3{
        font-size: 3vh;
    }
    
    .card2 img{
        width: 10vh;
    }
    
    .area-text2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 20px;
        gap: 30px;
    
        font-size: 3vh;
        text-align: left;
    }
    
    .area-text2 h2{
        font-size: 8vh;
        font-weight: 800;
    }
    
    .sobre-area{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
        padding: 60px 20px;
    
        font-size: 2.5vh;
    }
    
    .text-sobre{   
        width: 345px;
    }
    
    .text-sobre h1{
        font-size: 5.5vh;
    }
    
    .text-sobre h2{
        font-size: 4vh;
    }
    
    .img-sobre{
        padding: 0px;
    }
    
    .img-sobre img{
        width: 45vh;
    }
    
    .area-text3{
        padding: 60px 20px;
        gap: 30px;
    
        font-size: 3vh;
    }
    
    .area-text3 h1{
        font-size: 8vh;
    }
    
    .footer-1{
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        justify-items: center;
        gap: 20px;
        padding: 0px 20px;
    }
    
    .cards-footer{
        display: flex;
        gap: 10px;
    }
    
    .cards-footer img{
        width: 5vh;
        padding: 5px;
    }
      
    .botton a{
        border-radius: 20px;
        padding: 10px 20px;
        background-color: #36DFFE;
    
        font-weight: 700;
        font-size: 2.4vh;
        color: white;
        text-decoration: none;
    }
    
    .botton img{
        width: 2vh;
    }

    .logo img{
        height: 5.5vh;
    }
}

@keyframes slide1 {
    0%, 100% {
        transform: translatex(-10%);
    }
    100% {
        transform: translatex(0%);
    }

}
 
::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb{
    background-color: #080705;
    width: 6px;
    height: 6px;
    border-radius: 9.9px;
}