*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

strong{
    color: #36DFFE;
}

.burguer{
    display: none;
}

.nav-bar{
    display: flex;
    align-items: center;
    padding: 20px 10px;
    justify-content: space-around;
}

.nav-bar .nav-list{
    display: flex;
    gap: 5vh;
    color: white;
}

.nav-bar .nav-list a{
    font-size: 2.5vh;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}

.nav-bar .nav-list a:hover{
    text-decoration: underline 2px #36DFFE; 
}

.button a{
    padding: 10px 20px;
    font-size: 2.5vh;
    font-family: "Poppins", serif;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    background-color: #36DFFE;
    border-radius: 3px;
}

.header{
    height: 630px;
    background-image: url(./assets/cabeçalho.png);
    background-position: center;
    background-size: cover;
}

.header-mid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-self: center;
    align-items: center;
    gap: 5vh;
    padding: 20px;
}

.header-mid .text-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;
}

.header-mid .text-header h2{
    font-size: 7vh;
    font-family: "Poppins", serif;
    font-weight: 600;
    color: #ffffff;
    line-height: 7.5vh;
}

.header-mid .text-header p{
    font-size: 3vh;
    font-family: "Poppins", serif;
    font-weight: 400;
    color: #ffffff;
}

.header-sub{
    display: flex;
    flex-direction: column;
    place-self: center;
    justify-content: center;
    gap: 30px;
    padding: 0px 50px;

    transform: translateY(-50px);
    height: 335px;
    width: 860px;

    background-color: #093D62;
    border-radius: 25px;
    border: 4px solid #36DFFE;
}

.header-sub p{
    font-size: 3vh;
    font-family: "Poppins", serif;
    font-weight: 400;
    color: #ffffff;
}

.header-sub .cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.header-sub .cards .card-header{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

    background-color: #ffffff;
    border-radius: 15px;
}

.header-sub .cards .card-header p{
    font-size: 2.5vh;
    font-family: "Poppins", serif;
    font-weight: 600;
    color: #093D62;
}

.header-sub .cards .card-header img{
    padding: 10px;
    background-color: #093D62;
    border-radius: 50%;
}

.header-sub .detail{
    position: absolute;
    place-self: center;
    transform: translate(0px,-165px);

    background-color: #36DFFE;
    border-radius: 0px 0px 50px 50px;
    width: 250px;
    height: 5px;
}

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 30px 0px;
    gap: 5vh;
    place-self: center;
    align-items: center;
    justify-content: center;
}

.about .text-about{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about .text-about h2 strong{
    font-size: 6vh;
    color: #36DFFE;
    text-decoration: underline 5px;
}


.about .text-about h2{
    font-size: 5vh;
    font-family: "Poppins", serif;
    font-weight: 600;
    color: #093D62;
    line-height: 7.5vh;
}

.about .text-about p{
    font-size: 3vh;
    font-family: "Poppins", serif;
    font-weight: 400;
    color: #093D62;
}

.p1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 3vh;

    background-image: url(./assets/p1-img.png);
    background-position: center;
    background-size: cover;
}

.p1 h2{
    font-size: 7vh;
    font-family: "Poppins", serif;
    font-weight: 600;
    color: #ffffff;
    text-align: right;
}

.p1 p{
    font-size: 2.5vh;
    font-family: "Poppins", serif;
    font-weight: 400;
    color: #ffffff;
}

.services{
    display: flex;
    flex-direction: column;
    place-self: center;
    padding: 80px 20px;
    gap: 40px;
}

.services h2{
    font-size: 7vh;
    font-family: "Poppins", serif;
    font-weight: 600;
    color: #093D62;
}

.services h2 strong{
    color: #36DFFE;
    text-decoration: underline 5px;
}

.services .button{
    place-self: center;
}

.services .button a{
    font-size: 2.5vh;
    padding: 10px 50px;
}

.services .cards-services-area{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}

.card-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 30px;

    height: 270px;
    width: 300px;

    background-color: #093D62;
    border-radius: 3px;
    box-shadow: 0px 5px #36DFFE;
}

.card-services h2{
    font-size: 3.5vh;
    font-family: "Poppins", serif;
    font-weight: 600;
    color: #ffffff;
}

.card-services p{
    font-size: 2.5vh;
    font-family: "Poppins", serif;
    font-weight: 400;
    color: #ffffff;
}

.p2{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10vh;

    background-image: url(./assets/p2-img.png);
    background-position: center;
    background-size: cover;
}

.p2 .text-p2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.p2 .text-p2 h2{
    font-size: 7vh;
    font-family: "Poppins", serif;
    font-weight: 600;
    color: #ffffff;
}

.p2 .text-p2 p{
    font-size: 2.5vh;
    font-family: "Poppins", serif;
    font-weight: 400;
    color: #ffffff;
}

.p2 .button a{
    font-size: 2.5vh;
    padding: 10px 50px;
}

@media screen and (width < 560px){
    .nav-bar{
        justify-content: space-around;
    }
    
    .nav-bar .nav-list{
        display: none;
    }

    .nav-bar .button{
        display: none;
    }

    .nav-bar img{
        height: 8vh;
    }

    .burguer{
        display: block;
        flex-direction: column;
    }

    .burguer img{
        display: flex;
        width: 4vh;
    }

    #listmob{
        position: absolute;
        top: 80px;
        right: 1px;
        height: 250px;
        width: 390px;


        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        

        background-color: #253F5C;
        transition: 1s;
    }
    
    #listmob a{
        font-family: "Poppins", serif;
        font-weight: 500;
        color: #ffffff;
        text-decoration: none;  
    }

    #listmob a:hover{
        border-radius: 20px;
        text-decoration: underline 2px #36DFFE;
    }
    
    .button a{
        padding: 10px 20px;
        font-size: 2.5vh;
        font-family: "Poppins", serif;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        background-color: #36DFFE;
        border-radius: 3px;
    }
    
    .header{
        height: 880px;
        background-image: url(./assets/cabeçalho.png);
        background-position: center;
        background-size: cover;
    }
    
    .header-mid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        place-self: center;
        place-items: center;
        gap: 5vh;
        padding: 50px 20px;
    }
    
    .header-mid .text-header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 28px;
    }

    .header-mid .text-header br{
        display: none;
    }
    
    .header-mid .text-header h2{
        font-size: 4.5vh;
        font-family: "Poppins", serif;
        font-weight: 600;
        color: #ffffff;
        line-height: 6vh;
    }
    
    .header-mid .text-header p{
        font-size: 2.5vh;
        font-family: "Poppins", serif;
        font-weight: 400;
        color: #ffffff;
    }

    .header-mid .img-header img{
        height: 38vh;
    }
    
    .header-sub{
        display: flex;
        flex-direction: column;
        place-self: center;
        justify-content: center;
        align-self: center;
        gap: 30px;
        padding: 0px 20px;
    
        transform: translateY(-35px);
        height: 505px;
        width: 320px;
    
        background-color: #093D62;
        border-radius: 25px;
        border: 4px solid #36DFFE;
    }
    
    .header-sub p{
        font-size: 2.5vh;
        font-family: "Poppins", serif;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
    }
    
    .header-sub .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    
    .header-sub .cards .card-header{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
    
        background-color: #ffffff;
        border-radius: 15px;
    }
    
    .header-sub .cards .card-header p{
        font-size: 2.3vh;
        font-family: "Poppins", serif;
        font-weight: 600;
        color: #093D62;
        text-align: left;
    }
    
    .header-sub .cards .card-header img{
        padding: 10px;
        background-color: #093D62;
        border-radius: 50%;
    }
    
    .header-sub .detail{
        position: absolute;
        place-self: center;
        transform: translate(0px,-250px);
    
        background-color: #36DFFE;
        border-radius: 0px 0px 50px 50px;
        width: 250px;
        height: 5px;
    }
    
    .about{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 80px 20px;
        gap: 5vh;
        place-self: center;
        place-items: center;
        justify-content: center;
    }
    
    .about .text-about{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .about .text-about br{
        display: none;
    }

    .about .text-about h2 strong{
        font-size: 4.5vh;
        color: #36DFFE;
        text-decoration: underline 5px;
    }
    
    
    .about .text-about h2{
        font-size: 3vh;
        font-family: "Poppins", serif;
        font-weight: 600;
        color: #093D62;
        line-height: 6vh;
    }
    
    .about .text-about p{
        font-size: 2.5vh;
        font-family: "Poppins", serif;
        font-weight: 400;
        color: #093D62;
    }

    .about img{
        height: 42vh;
    }
    
    .p1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 60px 20px;
        gap: 3vh;
    
        background-image: url(./assets/p1-img.png);
        background-position: center;
        background-size: cover;
    }
    
    .p1 h2{
        font-size: 7vh;
        font-family: "Poppins", serif;
        font-weight: 600;
        color: #ffffff;
        text-align: left;
    }
    
    .p1 p{
        font-size: 2.5vh;
        font-family: "Poppins", serif;
        font-weight: 400;
        color: #ffffff;
    }
    
    .services{
        display: flex;
        flex-direction: column;
        place-self: center;
        padding: 80px 20px;
        gap: 40px;
        overflow: hidden;
    }
    
    .services h2{
        display: flex;
        justify-content: center;
        font-size: 5.5vh;
        font-family: "Poppins", serif;
        font-weight: 600;
        color: #093D62;
    }
    
    .services h2 strong{
        color: #36DFFE;
        text-decoration: underline 5px;
    }
    
    .services .button{
        place-self: center;
    }
    
    .services .button a{
        font-size: 2.5vh;
        padding: 10px 50px;
    }
    
    .services .cards-services-area{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
        
    }
    
    .card-services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-self: center;
        padding: 20px;
        gap: 30px;
    
        height: 270px;
        width: 300px;
    
        background-color: #093D62;
        border-radius: 3px;
        box-shadow: 0px 5px #36DFFE;
    }
    
    .card-services h2{
        display: block;
        font-size: 3.5vh;
        font-family: "Poppins", serif;
        font-weight: 600;
        color: #ffffff;
    }
    
    .card-services p{
        font-size: 2.5vh;
        font-family: "Poppins", serif;
        font-weight: 400;
        color: #ffffff;
    }
    
    .p2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        gap: 10vh;
    
        background-image: url(./assets/p2-img.png);
        background-position: center;
        background-size: cover;
    }
    
    .p2 .text-p2{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .p2 .text-p2 h2{
        font-size: 7vh;
        font-family: "Poppins", serif;
        font-weight: 600;
        color: #ffffff;
    }
    
    .p2 .text-p2 p{
        font-size: 2.5vh;
        font-family: "Poppins", serif;
        font-weight: 400;
        color: #ffffff;
    }
    
    .p2 .button a{
        font-size: 2.5vh;
        padding: 10px 50px;
    }

    .p2 img{
        height: 35vh;
    }
}